---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Page {{ paginator.page }}
    {% else %}
      Contents
    {% endif %}
  </h1>

  {% if site.paginate and site.paginate_path %}
    
    <ul class="post-list">
      {% for post in paginator.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}

      <div class="post-pagination">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous btn">Newer&nbsp;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
      </div>

    {% endif %}

  {% else %}

    <ul class="post-list">
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>
  
  {% endif %}
    

</main>
<div class="parallax-container">
  <img src="/assets/images/pic1.png" class="parallax-img" style="top: 10%; left: 5%;">
  <img src="/assets/images/pic2.png" class="parallax-img" style="top: 25%; right: 8%;">
  <img src="/assets/images/pic3.png" class="parallax-img" style="top: 40%; left: 12%;">
  <img src="/assets/images/pic4.png" class="parallax-img" style="top: 55%; right: 15%;">
  <img src="/assets/images/pic5.png" class="parallax-img" style="top: 65%; left: 3%;">
  <img src="/assets/images/pic6.png" class="parallax-img" style="top: 75%; right: 5%;">
  <img src="/assets/images/pic7.png" class="parallax-img" style="top: 85%; left: 20%;">
  <img src="/assets/images/pic8.png" class="parallax-img" style="top: 90%; right: 20%;">
  <img src="/assets/images/pic9.png" class="parallax-img" style="top: 30%; left: 2%;">
  <img src="/assets/images/pic10.png" class="parallax-img" style="top: 60%; right: 3%;">
  <img src="/assets/images/pic11.png" class="parallax-img" style="top: 80%; left: 8%;">
</div>

<script>
  window.addEventListener('scroll', function() {
    var scrollY = window.scrollY;
    document.querySelectorAll('.parallax-img').forEach(function(img, i) {
      var speed = 0.05 + (i * 0.02);
      img.style.transform = 'translateY(' + (scrollY * speed) + 'px)';
    });
  });
<script>
